SECRET_KEY=your_secret_key

YANDEX_CLOUD_API_KEY=your_api_key
YANDEX_CLOUD_FOLDER_ID=your_folder_id


REDIS_HOST=redis
REDIS_PORT=6379

KAFKA_BOOTSTRAP_SERVERS=kafka:29092

# Данные для подключения к БД (PostgreSQL)
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=123456789
# для каждого микросервиса своя БД и соответственно своё имя


MODE=PROD